@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

h1 {
    background-color: #F875AA;
    font-family: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(180, 244, 228);
    padding: 10px 0;
    text-transform: capitalize;
}

nav div {
    display: inline-block;
    width: 49%;
}

nav div h1 {
    margin-left: 45px;
}

nav h1 i {
    margin-right: 20px;
}

nav div a {
    margin-left: 50px;
    text-decoration: none;
    background-color: rgb(205, 243, 250, 248, 247);
    opacity: 20;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

nav div a:hover {
    color: #F875AA;
    text-decoration: underline;
    font-weight: 400;
}

.nav2 {
    text-align: center;
}

.main {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: inline-block;
}

.main div {
    display: inline-block;
    width: 49%;
}

.main1 {
    text-align: center;
}

.main1 img {
    border-radius: 50%;
}

.abc {
    margin: 2%;
    display: inline-block;
    background-color: aliceblue;
}

.main button {
    border: none;
    background-color: rgb(159, 206, 247);
    padding: 5px;
    border-radius: 5px;
    opacity: 0.7;
}

.main button:hover {
    opacity: 2;
}

* {
    margin: 0;
    padding: 0;
}

.ab {
    margin: 40px;
}

.ac {
    margin-left: 70px;
    margin-top: 20px;
    padding-left: 10px;
}

.ad {
    margin: 20px, 30px, 20px, 30px;
}

.ae {
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 10px;
}

.sh1 {
    margin-left: 30px;
    margin-bottom: 30px;
}

.scard {
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 50px;
    background-color: rgb(187, 215, 240);
    border-radius: 6px;
    margin-right: 5%;
}

.scard:hover {
    scale: 80%;
    background-color: darkolivegreen;
}

.project {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 50px;
}

.pro {
    margin-left: 30px;
    margin-bottom: 30px;
}

.project:hover {
    scale: 80%;
    background-color: rgb(252, 252, 123);
}
.project{
    border-radius: 20px;
}

.for {
    color: blue;
}

.contact {
    margin: 30px;
}

.foot {
    display: inline-block;
    width: 49%;
}

.foot p {
    margin: 5%;
}

.end {
    text-align: end;
}

.end a {
    margin-right: 40px;
}